.git/
.github/
.venv/
.env
.env.*
.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/
.coverage
coverage.xml
htmlcov/
__pycache__/
*.pyc
tests/
docs/
*.md
Makefile
.pre-commit-config.yaml
.copier-answers.yml
.semgrepignore
